#img1 {
   height: 250px;
   transition: transform .3s ease-in-out;
}

body {
   background-color: #FFCAC0;
   background-size: cover;
}
h2 {
   color: #6E6A6A;
}
#title {
   color: #6E6A6A;
   animation-duration: 3s;
   animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 60%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}  

ol {
   color: #6E6A6A;
}
ul {
   color: #6E6A6A;
}
marquee {
   color: #6E6A6A;
}
p {
   color: #6E6A6A;
}
button {
	width: 50px;
}
button:hover {
	width: 50px;
	background: rgba(0,0,0,0);
	color: #6E6A6A;
	box-shadow: inset 0 0 0 3px #6E6A6A;
}

#img2 {
   margin-left: 60px;
   height: 150px;
}
a:hover #img2, a:focus #img2 {
   transform: scale(1.5) rotate(-3deg);
   margin-left: 60px;
}
.divv {
   border: 10px solid #FFBABE; 
}
