img {
   height: 250px;
   transition: transform .3s ease-in-out;
}

body {
   background-color: #FFCAC0;
   background-size: cover;
}
h2 {
   color: #916A6A;
}
h1 {
   color: #916A6A;
}
ol {
   color: #916A6A;
}
ul {
   color: #916A6A;
}
marquee {
   color: #916A6A;
}
p {
   color: #916A6A;
}
