img {
   height: 250px;
   transition: transform .3s ease-in-out;
}

body {
   background-color: #FFCAC0;
   background-size: cover;
}
h2 {
   color: #6E6A6A;
}
h1 {
   color: #6E6A6A;
   animation-duration: 3s;
   animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}  

ol {
   color: #6E6A6A;
}
ul {
   color: #6E6A6A;
}
marquee {
   color: #6E6A6A;
}
p {
   color: #6E6A6A;
}
